@import url(variables.css);

@font-face {
    font-family: "SF-Pro-Bold";
    src: url("../storage/font/SF-Pro-Text-Bold.otf");
}
@font-face {
    font-family: "SF-Pro-Light";
    src: url("../storage/font/SF-Pro-Text-Light.otf");
}
@font-face {
    font-family: "SF-Pro-Heavy";
    src: url("../storage/font/SF-Pro-Text-Heavy.otf");
}
@font-face {
    font-family: "SF-Pro-Medium";
    src: url("../storage/font/SF-Pro-Text-Medium.otf");
}
@font-face {
    font-family: "SF-Pro-Regular";
    src: url("../storage/font/SF-Pro-Text-Regular.otf");
}
@font-face {
    font-family: "SF-Pro-Semibold";
    src: url("../storage/font/SF-Pro-Text-Semibold.otf");
}

*{
    padding: 0;
    margin: 0;
    /* font-family: "CenturyGotthicW05-Regular."; */
    box-sizing: border-box;
}
body{
    background: #33404F;
    background-image:url(../storage/img/background.svg);
    background-repeat: no-repeat ;
    background-size: 100%;
    
}
.main{
    display: flex;
    
} 
.background{
    position: absolute;
    z-index: -1;
}
.menu{
    position: absolute;
    left: 90%;
    top: 35px;
    width: 5%;
}
.inveto{
   display: flex;
   margin-top: 10%;
   margin-bottom: 5%;
  

}   
.inveto img{
    position: relative;
    margin-top: 2%;
    margin-left: 30%;
    width: 40%;
    opacity: 9%;
  
  
}
.flex1 h1{
    color: #fff;
    margin-left: 5%;
    font-family: "SF-Pro-Heavy";
    font-size: 35px;
  
}
.flex1 h2{
    font-size: 35px;
    color: #fff;
    margin-bottom: 7%;
    margin-top: 2%;
    margin-left: 5%;
    font-family: "SF-Pro-Light";
}
.inveto{
    font-size: 10px;
    margin-left: -2%;
    color: #fff;
}

.inveto p {
    font-family: "SF-Pro-Bold";
    font-size: 17px;
}
.strong{
    font-size: 30px;
   
}
h3{
    color:#fff; 
    font-size: 13px; 
    justify-self: auto;
    margin-left: 5%;
}
#color{
   
    
}
.lines{
    display: flex;
    flex-direction: row;
    margin-left: 4%;
    gap: 20%;
    width: 45%;
    font-family: "SF-Pro-Medium";
  
}
.lines h3{
    margin-left: 1%;
    margin-bottom: 5%;
}
.linesI{
    display: flex;
    flex-direction: column;
    color:#fff; 
    margin-left: -1%;
}
.linesD{
  
    display: flex;
    flex-direction: column;
    color:#fff; 
}

.lines img{
    width: 10%;
}
.lines h2{}

.flex2{
    width: 100%;
   
 
}.flex2 img{
    margin-top: 5%;
    width: 101%;
    height: 90%;
    display:flex ;
 
}
.flex2 h2{
  margin-top: -125%;
  margin-left: 5%;
  color:#33404F;
  font-family: "SF-Pro-Bold";

}
.flex3{
    width: 42%;
    display: flex;
    margin-top: -3%;
   
   
}
.img1{
    width: 80%;
}
.img2{
    width: 80%;
}
.img3{
    width: 80%;
}


.flex4{
  
    display: flex;
    margin-bottom: 10%;
    margin-left: -5%;
   
}
.flex4 h2{
    margin-left: 9%;
    color:#33404F;
    font-family: "SF-Pro-Bold";

}
.flex4_1{

    width: 30%;

}
.icon1{
    width: 10%;
    margin-left: -39%;
    margin-top: 10%
    
}
.flex4_1{
    width: 85%;
    display: flex;
    margin-top: -20%;
    margin-left: 10%;
    justify-content: space-between;
}
.flex4_1 h3 { 

    display: flex;
    margin-top: 2%;
    margin-left: 10%;
    color: #33404F;
    font-family: "SF-Pro-Bold";
    
    
}

.flex4_2 {
    width: 95%;
    display: flex;
    justify-content: space-between;
   
}

.flex4_2 p {
    margin-left: 19.80%;
    margin-top: 1%;
    font-size: 10px;
    font-family: "SF-Pro-Medium";
}



.icon2{
    width: 10%;
    margin-left: 4%;
    margin-top: 5%
    
}


.flex4_3{
    width: 47%;
    display: flex;
    margin-top: -10%;
    margin-left: 50%;
    justify-content: space-between;
    background: red;
}
.flex4_3 h3 { 

    display: flex;
    margin-top: 2%;
    margin-left: -67%;
    color: #33404F;
    font-family: "SF-Pro-Bold";
    
    
    
    
}

.flex4_4 {
    width: 95%;
    display: flex;
    justify-content: space-between;
   
   
}

.flex4_4 p {
    margin-left: 19.80%;
    margin-top: 2%;
    font-size: 15px;
    color: #33404F;
    
}
