<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/balance.css">
</head>
<body>
    <header class="header">
        <div class="contain">
        </div>
        <div class="flex1">
            <div class="invetoN__andimg">
                <img src="../storage/img/invetoW.svg">
                <h3>INVETO</h3>
            </div>
            <div class="menuW">
                <img src="../storage/img/menuW.svg">
            </div>
        </div>

        <div class="asd">
            <section class="containC">
                
                <p>Total</p>
                <p>Balance</p>
                <p>$ 214,417</p>
                
            </section>
        </div>
    </header>
    <main>
        
        
        <div class="center">
            <div class="box1">        
                <p>Assets</p>
            </div>

            <div class="box2">    
                <p>Debt</p>
            </div>

            <div class="box3">  
                <p>Income</p>
             </div>
        </div>
        <section class="lines">
            <img src="../storage/img/complete.svg">
          
        </section>


        <img class ="cancel" src="../storage/img/cancel.svg">

        <div class="containS">
                <div>
                    <img src="../storage/img/cardG.svg">
                    <div>
                        <h3>Spending.</h3>
                        <P>You forgot to add debt card number at payment #1323. Add it now.</P>
                    </div>
                </div>
        </div>

    </main>




    <footer class="footer">
        <ul class="footer__ul">
            <li>
                <a href="#">
                    <img src ="../storage/img/home.svg">
                </a>
            </li>
    <li>
        <a href="#">
            <img src ="../storage/img/book.svg">
        </a>
    </li>
    <li>
        <a href="../views/balance.html">
            <img src ="../storage/img/iconG.svg">
        </a>
    </li>
    <li>
        <a href="#">
            <img src ="../storage/img/bell.svg">
        </a>
    </li>
    <li>
        <a href="#">
            <img src ="../storage/img/manW.svg">
        </a>
    </li>
</ul>
</footer>

  

    
</body>
</html>