<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/details.css">
</head>
<body>
    <header class="header">
        <section class="sectioninveto">
            <div class="divsectioninveto">
                <img src="../storage/img/invetoN.svg">
                <h3>INVETO</h3>
            </div>
            <div class="menuN">
                <img src="../storage/img/menuN.svg">
            </div>
        </section>
    </header>
 
    

    <main>
        <div class="main">
            <p>Investing Tips</p>
        </div>

        <div class="contain">
            <img class="pig" src="../storage/img/pig.svg">
            <img class="closeIcon" src="../storage/img/closeIcon.svg">
            <div></div>
        </div>
        <div class="words">
            <h2>What is an ETF?</h2>
            <p>By James B, PHD</p>
            <button>LEARN MORE</button>
        </div>

        <div class="section_middle">
            <p>My Cards (4)</p>
        </div>    
    </main>


    <div class="containG">

        <div class="contain2">

            <div class="flex1">
                <img src="../storage/img/imgC.svg">
                <strong>**** 6175</strong>
            </div>

            <div class="value">
                <h2>$ 47,417</h2>
            </div>

            <div class="circle">
                <img src="../storage/img/circle.svg">
            </div>

        </div>

        <div class="contain3">

            <div class="flex1">
                <img src="../storage/img/imgC.svg">
                <strong>**** 6175</strong>
            </div>

            <div class="value">
                <h2>$ 584,466</h2>
            </div>

            <div class="circle">
                <img src="../storage/img/visa.svg">
            </div>
        </div>

        <div class="contain2">

            <div class="flex1">
                <img src="../storage/img/imgC.svg">
                <strong>**** 6175</strong>
            </div>

            <div class="value">
                <h2>$ 47,417</h2>
            </div>

            <div class="circle">
                <img src="../storage/img/visa.svg">
            </div>
        </div>

        <div class="contain3">

            <div class="flex1">
                <img src="../storage/img/imgC.svg">
                <strong>**** 6175</strong>
            </div>

            <div class="value">
                <h2>$ 584,466</h2>
            </div>

            <div class="circle">
                <img src="../storage/img/visa.svg">
            </div>
        </div>
        
    </div>



    <footer class="footer">
        <ul class="footer__ul">
            <li>
                <a href="../index.html">
                    <img src ="../storage/img/home.svg">
                </a>
            </li>
    <li>
        <a href="#">
            <img src ="../storage/img/book.svg">
        </a>
    </li>
    <li>
        <a href="../views/balance.html">
            <img src ="../storage/img/iconG.svg">
        </a>
    </li>
    <li>
        <a href="#">
            <img src ="../storage/img/bell.svg">
        </a>
    </li>
    <li>
        <a href="#">
            <img src ="../storage/img/manW.svg">
        </a>
    </li>
</ul>
</footer>
</body>
</html>